<div class="container">
  <h2 class="text-center">Registration</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form name='regForm' novalidate>

        <input type="text" name="fName" placeholder="Enter first name"
          ng-model="reg.user.fName"
          required
          pattern="^[A-Za-z]+(((\'|\-|\.)?([A-Za-z])+))?$"
          ng-maxlength="10">
          <span
            ng-if="(regForm.fName.$error.pattern || regForm.fName.$error.required) && regForm.fName.$touched">
            First name is required without any spaces
          </span>
          <span ng-if="regForm.fName.$error.maxlength && regForm.fName.$touched">
            First name must not be longer than 10 characters
          </span>
          <br>

          <input type="text" name="lName" placeholder="Enter last name"
            ng-model="reg.user.lName"
            required
            pattern="^[A-Za-z]+((\s)?((\'|\-|\.)?([A-Za-z])+))*$"
            minlength="2"
            ng-maxlength="25">
            <span
              ng-if="(regForm.lName.$error.minlength || regForm.lName.$error.required) && regForm.lName.$touched">
              Last name must be at least 2 characters long
            </span>
            <span ng-if="regForm.lName.$error.maxlength && regForm.lName.$touched">
              Last name must not be longer than 25 characters
            </span>
            <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input type="text" name="favDish" placeholder="Enter the number of your favorite dish (eg., A1, L1..)"
          ng-model="reg.user.favDish"
          required
          ng-change=reg.resetErrMsg();>
          <span ng-if="regForm.favDish.$error.required && regForm.favDish.$touched">
            Enter the number of your favorite dish (eg., A1, L1..)
          </span>
          <span ng-if="reg.showErrMsg">{{ reg.msg }}</span>
          <br>

        <button ng-disabled="regForm.$invalid" ng-click="reg.submit()">
          Submit
        </button>

        <div ng-if="reg.showMessage">
          <br><br>{{reg.msg}}
        </div>

      </form>
    </div>
  </div>
</div>
